body {
    background: white;
    margin: 0;
    padding: 0;
}

/*** Navbar ***/

.bar {
    display: none;
}
  
nav {
    display: flex;
    background: #8b1717da;
    justify-content: space-evenly;
}
  
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
  
nav ul li {
    margin: 4px;
}
  
nav ul li a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}
  
nav ul li .aktiv {
    color: #d4b2a0;
}
  
nav ul li a:hover {
    color: #d4b2a0;
}

.dropdown-maps{
    position: relative;
    display: inline-block;
}

.dropdown-maps-content{
    display: none;
    position: absolute;
    background-color: #ec5a5a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: black solid 1px;
}

.dropdown-maps-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: black 1px;
    color: white;
}

.dropdown-maps-content a:hover{
    background-color: #f78a8a;
}

.dropdown-maps:hover .dropdown-maps-content{
    display: block;
}

#mapsseite-a{
    color: black;
}
/*** Startseite ***/

.row {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.row img{ 
    border-radius: 15px;
}

.begruessung-startseite {
    margin-left: 15%;
    font-size: 4rem;
}

.begruessung-startseite h2{
    width: 700px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.08),
                -10px -10px 10px rgba(255, 255, 255, 0.3);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.08),
                -5px -5px 5px rgba(255, 255, 255, 0.3);
    -webkit-text-stroke: 0.1vw #8b1717da;
    color:white;
}

.begruessung-startseite a{
    margin-left: 7rem;
}

.cover-bild-startseite {
    flex: 1;
    color: white;    
    margin-left: 13%;
}

.info-bild-startseite{
    flex: 1;
    margin-left: 8%;
}

.info-text-startseite{
    padding: 20px;
    background-color: #dac64c;
    margin-left:5%;
    margin-right: 5%;
    border-radius: 16px;
    color: #292729;
}

.info-text-startseite h2{
    font-size: 70px;
    margin: 0;
}

.info-text-startseite p{
    font-size: 25px;
}

.mitgliedwerden-schrift{
    margin-left: 40%;
}
.mitgliedwerden-schrift a{
    text-decoration: none;
    color: black
}

.mitgliedwerden-schrift h2{
    margin-top: 5%;
    padding: 20px;
    background-color: #53cc54;
    border-radius: 15px;
    margin-bottom: 3%;
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: black
}

.mitgliede-viperbild{
    flex: 1;
    margin: 0;
    margin-left: 10%;
}

/*** Pearl ***/

.pearl-ueberschrift{
    margin-left: 16%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.pearl {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
}



.pearl-bild-mapseite{
    margin: 0px;
}

/*** Maps ***/

.mapseite-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.mapseite-ueberschrift-container h2{
    font-size: 70px;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 246, 195);
    margin-left: 40%;
    margin-right: 40%;
    opacity: 0.9;
    border: solid 1px black;
}

.agent-auswahl{
    display: flex;
}

.agent-bild-mapseite img{
    width: 50%;
}

.beschreibung-mapseite{
    margin-top: 7%;
    padding: 20px;
    background-color: #e0d379;
    opacity: 0.7;
    margin-left: 17%;
    margin-right: 17%;
    text-align: start;
    border-radius: 15px;
}

.beschreibung-mapseite h3{
    font-size: 50px;
    margin-bottom: 10px;
    margin: 0;
}

.beschreibung-mapseite a{
    font-size: 25px;
}

.alternativen-mapseite{
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #e0d379;
    opacity: 0.7;
    margin-left: 17%;
    margin-right: 17%;
    text-align: start;
    border-radius: 15px;
}

.alternativen-mapseite h3{
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
}

.alternativen-mapseite a{
    font-size: 25px;
}

/*** Lotus ***/
.hintergrundbild-mapseite-lotus{
    height: 100%;
    background-image: url(../img/lotus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*** Bind ***/
.hintergrundbild-mapseite-bind{
    height: 100%;
    background-image: url(../img/Bind.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*** Ascent ***/
.hintergrundbild-mapseite-ascent{
    height: 100%;
    background-image: url(../img/Ascent.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*** Pearl ***/
.hintergrundbild-mapseite-pearl{
    height: 100%;
    background-image: url(../img/Pearl.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/*** Split ***/
.hintergrundbild-mapseite-split{
    height: 100%;
    background-image: url(../img/Split.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*** Haven ***/
.hintergrundbild-mapseite-haven{
    height: 100%;
    background-image: url(../img/Haven.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*** Fracture ***/
.hintergrundbild-mapseite-fracture{
    height: 100%;
    background-image: url(../img/Fracture.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


/*** Impressum/Datenschutz ***/

.datenschutz-card{
    margin: 10px 10%;
    width: 80%;
    color: black;
    background-color: #e0d379;
    padding: 5px;
    border-radius: 15px;
  }
  
.datenschutz-card a{
    text-decoration: none;
    color: black;
}
  
.impressum-card{
    margin: 10px 10%;
    width: 80%;
    color: black;
    background-color: #e0d379;
    padding: 5px;
    border-radius: 15px;
}
  
.impressum-card a{
    text-decoration: none;
    color: Black;
}

.impressum{
    padding: 0px;
    border-top: 2px solid white;
    text-align: center;
    color: white;
    padding: 10px;
    background-color:#8b1717da ;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.impressum a{
    text-decoration: none;
    color: white;
}


